@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    height: 100vh;
    font-family: Calibri, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #096dd9;
    color: #fff;
    border-color: transparent;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
}

a {
    color: #1d56c0;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 10px 0;
}